
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccf6e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

#weatherForm {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 12px;
    background-color: #090206;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}


#results {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    color: #000;
    font-weight: 200;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    background: rgb(234, 233, 178);
    border-radius: 12px;

}

.weather-card {
    background: #ffffff;
    border-left: 8px solid #007bff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}